h1 {
  text-align: center;
  font-weight: 600;
  font-size: 41px;
  line-height: 25px;
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 35px;
}

.main-container {
  font-family: "Lato", sans-serif;
  font-style: normal;
  color: rgb(76, 76, 79);
  max-width: 600px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: white;
  padding: 25px;
  box-shadow: 7px 7px 3px rgba(182, 181, 181, 0.5);
  border-radius: 10px;
}

body {
  background-color: rgb(235, 234, 231);
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(122, 122, 127);
  box-shadow: 3px 3px 3px rgba(111, 110, 110, 0.5);
  background-color: rgb(122, 122, 127);
  color: white;
  margin-bottom: 10px;
  font-size: 16px;
}
.paris-container,
.los-angeles-container,
.tokyo-container,
.london-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  align-items: center;
  border-bottom: 0.3px solid rgb(199, 197, 197);
}

.tokyo-container {
  border: none;
}
.city {
  font-size: 32px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 15px;
}
.left {
  margin-top: 35px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.right {
  min-width: 40%;
}
.time {
  font-size: 37px;
  font-weight: 600;
  padding: 20px;
  margin-left: 45px;
}
a:visited {
  color: rgb(44, 45, 46);
}
footer {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}
